PORT=3333
DATABASE_URL=postgres://localhost:5432/hyperlocal-dev

AUTH_SESSION_NAME=hyperlocal-auth
AUTH_SESSION_SECRET=ohshowmethewaytothenextwhiskeybar
AUTH_SESSION_EXPIRES=3600

CLOUDINARY_CLOUD='cloudinary_cloud_name'
CLOUDINARY_APIKEY='cloudinary_api_key'
CLOUDINARY_SECRET='cloudinary_api_secret'
CLOUDINARY_PROJECT='cloudinary_project_name'
