PORT=3333
POSTGRES_USER=posgres 
POSTGRES_PASSWORD=password
POSTGRES_DB=webapp_dev

DATABASE_URL='postgres://localhost:5432/webapp_dev'

AUTH_SESSION_NAME=web-app
AUTH_SESSION_SECRET=ohshowmethewaytothenextwhiskeybar # openssl rand -base64 32
AUTH_SESSION_EXPIRES=86400 # 1 day

CLOUDINARY_CLOUD='cloudinary_cloud_name'
CLOUDINARY_APIKEY='cloudinary_api_key'
CLOUDINARY_SECRET='cloudinary_api_secret'
CLOUDINARY_PROJECT='cloudinary_project_name'